/* reset css */

* {
    min-width: 0;
    font: inherit;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  img,
  video,
  svg {
    display: block;
    height: auto;
    max-width: 100%;
  }
  
  body {
    margin: 0;
    min-height: 100dvh;
  }
  
  h1,
  h2,
  h3 {
    text-wrap: balance;
  }
  
  p {
    text-wrap: pretty;
  }
  

body {
    background-color: burlywood;
}

main {
    display: flex;
    flex-direction: column;

    gap: 3rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.container-letter {
    position: relative;
}

.cover {
    position: absolute;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 100px solid rgb(114, 30, 30);
  border-bottom: 100px solid transparent;

  /* */
  transition: transform .75s;
  transform-origin: top;
}

.paper {
    position: absolute;
    padding: 1.5rem;
    line-height: 2rem;
    right: -0.5px;
    /* */
    z-index: -1;
    background: white;
    width: 400px;
    height: 200px;

}
   
.letter {
    border-left: 200px solid rgb(46, 19, 19);
  border-right: 200px solid rgb(46, 19, 19);
  border-top: 100px solid transparent;
  border-bottom: 100px solid rgb(114, 30, 30);
}
   
.options {
    display: flex;
    gap: 5rem;

    & button {
        color: #080606;
        font-weight: 600;
        border-radius: 3px;
        background: rgb(255, 255, 255);
        border: 1px solid rgb(46, 19, 19);
        padding: 0.5rem 1rem;
        cursor: pointer;
    }
    & button:hover {
        background: #c4babb;
    color: white;
    }
}
.open-cover {
    transform: rotatex(180deg);
  }
  
  .open-paper {
    animation: openPaper .5s forwards;
  }
  
  @keyframes openPaper {
    0% {
      top: 0;
    }
    100% {
      top: -120px;
    }
  }
  
  .close-paper {
    animation: closePaper .5s forwards;
  }
  
  @keyframes closePaper {
    0% {
      top: -120px;
    }
    100% {
      top: 0;
    }
  }
  
  
  .heart {
    display: none;
    position: absolute;
    top: 25%;
    left: 46.5%;
    margin: auto;
    font-size: 3rem;
  
    color: #fe3334;
  
    animation: crecer 1s forwards ;
  }
  
  @keyframes crecer {
    0% {
      scale: 1;
      opacity: 1;
    }
    100% {
      scale: 3;
      opacity: 0;
  
    }
  }